h1 {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}
p {
  font-family: "Times New Roman", Times, serif;
}
#container {
  width: 750px;
  margin: 0 auto;
}
#main {
  width: 300px;
  float: left;
}
#sidebar {
  width: 400px;
  float: right;
}
#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#nav li {
  float: left;
}
#nav a:link, #nav a:visited {
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #98bf21;
  display: block;
}
#nav a:hover, #nav a:active {
  background-color: #7a991a;
}
img {
  border-style: none;
}
