<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Haley Reed's website </title>
	<meta http-equiv="content-type"
		content="text/html;charset=utf-8" />
  </head>
<body>

  <h1>Haley Reed</h1>
  <p>haleyreed@mail.missouri.edu</p>
  <p>@raleyheed</p>
  <a href="mailto:haleyreed@mail.missouri.edu"><img src="haleyreed.jpg" alt="This is a picture of Haley Reed in Switzerland." width="300px"/></a>
<!--This is a comment. It won't show up in your browser, only in the page source-->
	<p> What's the difference between a guitar and a fish? </p>
  <p> You can tune a guitar, but you can't tuna fish. </p>
  <ul>
    <li> <a href="http://www.haleypreed.com">Haley Reed's website</a></li>
    <li> <a href="index2.html"> A link to second page.</a></li>
  </ul>
</body>

</html>
